@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

:root{

    /* fonts */
     --f:"Agbalumo",sans-serif;

}
html{
    font-family:var(--f);
    scroll-behavior: smooth;
}
.card{
    margin:50px;
}
.card-title {
    font-size:2.5rem;
    font-weight:bold;
   /* color:rgb(6, 69, 43);*/
    
}

.card-text {
    font-size:1.5rem;
}

.list-group-item{
    font-size:1.25rem;
    font-weight:bold;
}
