body{
   /* background-image: url(cov.jpg);*/
   color: black;
    overflow: hidden;
}
#recherche{
    margin-top: 10px;
}
#footer{
    margin-top:62px;
}
#project{
    width: 300px; 
    height: 200px;
     resize: none;
}
#insave{
    display :none;
}